.servicos {

    background-image: url("../img/2.png") ;
    background-repeat: repeat-x;
    height: 56%;

}
.botaoface {
    background: url("../img/facebook.png") no-repeat;
    height:35px;
    width:90px;
    border:0;
    outline:0;
    -moz-outline:0;
    cursor:pointer;
}


.footer {
    left: 0;
    bottom: 0;
    height: 5%;
    width: 100%;
    background-color:#87CEFA;
    color: white;
    text-align: left;
}
